/* QUE ES MANUSCRITO */
.firstText {
  padding-top: 70px;
}

.borderOrange {
  border-bottom: 3px solid #F28705;
}

.innerText1 {
  padding-top: 40px;
  width: 400px;
  height: 343px;
}

.innerText2 {
  width: 400px;
  height: 343px;
}

.subTitle1 {
  font-family: Cairo;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 67px;
}

.text1 {
  padding-top: 60px;
  font-family: Zen Kurenaido;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
}

.text2 {
  font-family: Zen Kurenaido;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
}

/* Primer divisor */
.divider1 {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  background-color: #F28705;
}

.title1 {
  text-align: center;
  font-family: Cairo;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  color: white;
  margin-top: 40px;
}

.autor {
  font-family: Cairo;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  color: white;
  text-align: end;
  margin-right: 1.5rem;
}

/* Seccion de recomendaciones de alumnos */
.parrafosIndex {
  display: flex;
  justify-content: space-between;
  margin: 80px;
}

.title2 {
  margin: 40px 0px;
  font-family: Cairo;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 67px;
  color: #000000;
  text-align: center;
}

.nombreAlumno {
  font-family: Cairo;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 45px;
  text-align: center;
}

.textContainer {
  margin: 20px;
}

.experienciaAlumnos {
  font-family: Cairo;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  text-align: start;
}

.alumno {
  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  width: 317px;
  height: 283.78px;
}

.imgAlumno {
  width: 61.03px;
  height: 61.03px;
  border-radius: 50%;
  margin-left: 5px;
}

/* Educacion online a tu alcance */
.title3 {
  font-family: Cairo;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 120px;
  text-align: center;
  margin: 40px 0px;
}

.subtitle3 {
  font-family: Cairo;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 30px;
  color: white;
}

.subtitle4 {
  font-family: Cairo;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 30px;
}

.socaloDescriptivo1 {
  font-family: Zen Kurenaido;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: white;
}

.socaloDescriptivo2 {
  font-family: Zen Kurenaido;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
}

.texto1 {
  width: 100%;
  height: 462px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F28705;
}

.texto2 {
  width: 100%;
  height: 462px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen {
  width: 470px;
  height: 360px;
}

.imgBox {
  margin: 0 6px;
}

.textBox {
  margin: 0 6px;
  width: 470px;
  height: 360px;
}

/* BOTON DE VER CURSOS */
.buttonStyleIndex {
  background-color: #BF9765 !important;
  border: 1px black;
  width: 197px;
  height: 55px;
  font-size: 24px;
  border-radius: 0%;
}

.buttonContainer {
  margin: 100px 0;
}

/* BOTONES DE REDES SOCIALES */
.iconContainer {
  width: 1030px;
  height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lineOrange {
  margin: 20px 60px;
  width: 1630px;
  height: 76px;
  border-bottom: 2px solid #F28705;
  border-top: 2px solid #F28705;
}

.icono {
  width: 50px;
  height: 50px;
}

/* TITULO Y SUBTITULO */
.titleContainer {
  padding-top: 2%;
}

.title5 {
  text-align: center;
  font-family: Cairo;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 77px;
  color: #000000;
}

.subtitlePosition {
  padding-bottom: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitleContainer {
  width: 55%;
  height: 10%;
}

.subtitle3 {
  text-align: left;
  font-family: Cairo;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 40px;
  color: black;
}

.spanManuscrito {
  font-family: Zen Kurenaido;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 52px;
  color: #F28705;
}

/* SECCION BEIGE */
.seccionBeige {
  padding: 5%;
  width: 100%;
  background-color: #F2DBAE;
}

.seccion1 {
  width: 50%;
  margin: 0% 2%;
}

.imgContainer {
  padding: 2% 0%;
}

.rowContainer1 {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
}

.fotoAriel {
  width: 100%;
  height: 336px;
}

.tapaLibro {
  width: 177px;
  height: 246px;
}

.seccion2 {
  width: 50%;
  margin: 0% 2%;
}

.arielDescripcion {
  text-align: left;
  font-family: Cairo;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 37px;
}

/* BOTON VER MAS  */
.buttonStylePersonas {
  background-color: #BF9765 !important;
  border: 1px black;
  width: 250px;
  height: 55px;
  font-size: 24px;
  border-radius: 0%;
  padding-top: 0.1%;
}

.buttonContainerPersonas {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
}

/* SECCION PROFESORES */
.profesorSection {
  margin: 5% 0%;
}

.titleContainer {
  padding: 4%;
}

.title6 {
  text-align: center;
  font-family: Cairo;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 77px;
  color: #000000;
}

.profesorContainer {
  margin: 2.5% 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgProfesor {
  border-radius: 100%;
  width: 50%;
  height: 50%;
}

.profesorDescription {
  padding: 4% 0%;
  width: 75%;
  height: 70%;
}

.profesorTitle {
  padding: 4% 0%;
  font-family: Cairo;
  font-style: normal;
  font-weight: bold;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
}

.profesorParagraph {
  font-family: Zen Kurenaido;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 37px;
  text-align: center;
}

/* TITULO */
.title4 {
  margin: 4% 0%;
  font-family: Cairo;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 67px;
  color: #000000;
  text-align: center;
}

/* SEPARADOR ESCRITURA NARRATIVA */
.separadorContainer {
  display: flex;
  flex-direction: row-reverse;
}

.separador {
  width: 62%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitle2 {
  font-family: Cairo;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  padding-top: 0.5%;
}

/* CARDS */
.row > * {
  padding-left: 0% !important;
  padding-right: 0% !important;
}

.cardH2 {
  display: flex;
  text-align: center;
  font-family: Cairo;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
}

.card-title {
  margin: 1% 4%;
  padding-bottom: 3%;
}

.card-text {
  margin: 2% 4%;
  font-family: Cairo;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.cursosCard {
  width: 65%;
  display: flex;
  justify-content: center;
  margin: 50px 20px;
}

.card-header {
  padding: 1.5% 1% 1% 1.5%;
  background-color: #F28705;
  display: flex;
  align-items: center;
}

/* ACCORDIONS */
.accordionStyle {
  font-family: Cairo;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 34px;
  display: flex;
  align-items: center;
}

.accordion-button:not(.collapsed) {
  background-color: #F2DBAE;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.13);
  font-family: Cairo;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  color: white;
}

.accordion-button:focus {
  z-index: 3;
  border-color: #BF9765;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(117, 75, 27, 0.25);
}

.accordion-body1 {
  padding: 2% 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.accordion-body2 {
  padding: 2% 2%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.listStyle {
  font-family: Cairo;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

/* BOTON DE INSCRIPCION  */
.buttonStyleCursos {
  background-color: #BF9765 !important;
  border: 1px black;
  width: 250px;
  height: 55px;
  font-size: 24px;
  border-radius: 0%;
  padding-top: 0.1%;
}

.buttonContainer {
  margin: 100px 0;
}

/*# sourceMappingURL=style.css.map */
